<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ApiHost" value="staging.api.vistarmedia.com" />
    <add key="RestUrl" value="https://staging.vistarmedia.com" />
    <add key="RestUser" value="" />
    <add key="RestPass" value="" />
  </appSettings>
</configuration>